.article-cont {
  /* 文章列表 */
  .article-item {
    margin-bottom: 20px;
    padding: 15px 10px;
    list-style: none;
    background: transparent;
    box-shadow: 0 0 4px $-card-box-shadow;
    cursor: default;
    transition: all .5s linear;

    &:hover {
      box-shadow: 0 10px 30px $-card-box-shadow;
      transform: translate3d(0, -2px, 0);
    }

    .item-cont {
      &--img {
        display: block;
        width: 30%;
        margin-right: 20px;
        border-radius: 5px;

        img {
          width: 100%;
        }
      }

      &--title {
        color: $-theme-color;
        font-weight: bold;
        font-size: 24px;
        cursor: pointer;
      }

      &--info {
        color: #888;
        font-size: 16px;
        line-height: 24px;
      }

      &--btn {
        display: flex;
        justify-content: flex-end;

        .more {
          color: $-theme-color;
          cursor: pointer;
        }
      }
    }

    .item-author {
      clear: both;
      width: 100%;
      margin: 5px 0;
      color: #838383;
      font-size: 14px;

      .lm {
        margin-right: 10px;
        color: #096;
      }

      // .time {
      // }
    }
  }
}
