$-theme-color: var(--root-theme-color, #166bcf);
$-layout-header: var(--root-layout-header, 64px);
$-layout-footer: var(--root-layout-footer, 86px);
$-header-max-width: var(--root-header-max-width, 1440px);
$-main-max-width: var(--root-main-max-width, 1200px);
