/* 头部全局样式 */
.nav {
  background-color: #fff;
  padding: 0 calc(50% - 600px);
}

/* 头部logo */
.nav-logo {
  width: fit-content;
  display: flex;
  align-items: center;
  &--img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
  }
  &--name {
    font-size: 24px;
    color: #000;
  }
}

.nav-tool {
  //background-color: #fff;
}

.nav-menu {
  display: flex;
}
.nav-menu--item {
  font-size: 16px;
  padding: 10px 20px;
  height: 64px;
  list-style: none;
  & a {
    display: flex;
    align-items: center;
    height: 44px;
    border-bottom: 2px solid;
    border-color: transparent;
  }

  & .active {
    color: #000;
    border-color: #333;
  }
}
