/*调用ant样式*/
@import '~antd/dist/antd.css';

/*引入图标css*/
@import url("//at.alicdn.com/t/font_1760623_n2bxubkx5li.css");
[class^="icon-"]{
  font-family: "iconfont" !important;
  /* 以下内容参照第三方图标库本身的规则 */
  //font-size: 18px !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.el-menu-item [class^=icon-] {
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}
.el-submenu [class^=icon-] {
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
}

/*加入动画*/
@import "./style/animate.scss";

/*标签初始设置*/
html,
body,
ul,
li
{
  margin: 0;
  padding: 0;
}
html body {
  font-family: sans-serif;
  color: #333;
}
html body a{
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, 0.3);
  border-radius: 4px;
}
